<div>
    <div>
        <h1>Tech Blog</h1>
    </div>
</div>

{{#each posts as |post|}}
<div class='card'>
    <header class="card-header">
        <p class="card-header-title">{{post.post_name}}, {{post.user.username}}{{post.current_date}}</p>
    </header>
    <div class="card-content">
        <div class="content">
            <p>{{post.post_content}}</p> 
        </div>
    </div>
</div>
{{/each}}
