  {{#each posts as |post|}}
  <div class='card'>
    <header class="card-header">
        <p class="card-header-title">{{post.post_name}}, {{post.user.username}}{{format_Date post.current_date}}</p>
    </header>
    <div class="card-content">
        <p>{{post.post_content}}</p>
    </div>
    <footer class="card-footer">
      <div class="card-footer-delete"> 
        <button type="submit" class="btn btn-primary">Update</button>
      </div>
      <div class="card-footer-update">
        <button type="submit" class="btn btn-primary">Delete</button>
      </div>
    </footer>
  </div>
  {{/each}}


<script src="../public/js/post.js"></script>